@if (User.Identity!.IsAuthenticated)
{
    <li class="nav-item dropdown">
        <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            @User.Identity.Name
        </button>
        <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" asp-controller="Member" asp-action="logout">Çıkış Yap</a></li>
        </ul>
    </li>
}
else
{
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="SignUp">Kayıt Ol</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="SignIn">Giriş Yap</a>
}